<style>
    .main-rect {
        background: url({{ 'main-rect.jpeg' |  asset_img_url: "1967x1967" }});
        background-size: cover;
    }

    .main-square {
        background: url({{ 'main-square.jpeg' |  asset_img_url: "3000x3000" }});
        background-size: cover;
    }
</style>

<section class="x-bg-[#FFFFFF]">
    <div class=" x-hidden lg:x-flex x-flex-row x-justify-center x-items-center x-max-w-[1440px] x-mx-auto x-gap-20 x-pt-20 x-pb-[104px]">

        <div class="x-flex x-flex-col x-gap-8 x-max-w-[474px]">
            <div class="x-flex x-flex-row x-justify-center">
                <div class="x-w-[440px] x-h-[392px] main-rect">
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-12">
                <div class="x-flex x-flex-col x-gap-6">
                    <div class="x-flex x-flex-col x-gap-6">
                        <h1 class="x-font-lora x-font-light x-text-[36px] x-leading-[48px] x-text-[#3D3E49]">Rectangular Tissue Sleeve
                        </h1>
                        <p class="x-font-jost x-font-light x-text-[19px] x-leading-10 x-text-[#282828]">Each product is crafted with home and
                            office in mind, utilizing some of the
                            simplest innovations with extreme attention to detail. Follow our design journey and adopt one
                            of our designs for your favorite nooks.</p>
                    </div>
                    <div class="x-flex x-flex-col x-gap-[14px]">
                        <p class="x-font-jost x-text-[18px] x-leading-7 x-text-[#4F4F4F]">Available in all 5 colors.</p>
                        <div class="x-flex x-flex-row x-gap-4">
                            {% render 'a-color-rows-rect' %}
                        </div>
                    </div>
                </div>
                <a class="x-text-lg x-text-white x-bg-[#3D3E49] x-font-medium x-tracking-[3%] x-rounded-lg x-py-[18px] x-flex x-justify-center" href={{ section.settings.custom_link }}>
                    BUY
                </a>
            </div>
        </div>

        <div class="x-flex x-flex-col x-gap-8 x-max-w-[474px]">
            <div class="x-flex x-flex-row x-justify-center">
                <div class="x-w-[440px] x-h-[392px] main-square">
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-12">
                <div class="x-flex x-flex-col x-gap-6">
                    <div class="x-flex x-flex-col x-gap-6">
                        <h1 class="x-font-lora x-font-light x-text-[36px] x-leading-[48px] x-text-[#3D3E49]">Square Tissue Sleeve
                        </h1>
                        <p class="x-font-jost x-font-light x-text-[19px] x-leading-10 x-text-[#282828]">Each product is crafted with home and
                            office in mind, utilizing some of the
                            simplest innovations with extreme attention to detail. Follow our design journey and adopt one
                            of our designs for your favorite nooks.</p>
                    </div>
                    <div class="x-flex x-flex-col x-gap-[14px]">
                        <p class="x-font-jost x-text-[18px] x-leading-7 x-text-[#4F4F4F]">Available in all 5 colors.</p>
                        <div class="x-flex x-flex-row x-gap-4">
                            {% render 'a-color-rows-square' %}
                        </div>
                    </div>
                </div>
                <a class="x-text-lg x-text-white x-bg-[#3D3E49] x-font-medium x-tracking-[3%] x-rounded-lg x-py-[18px] x-flex x-justify-center" href={{ section.settings.custom_link }}>
                    BUY
                </a>
            </div>
        </div>
    </div>

    <div class="x-flex lg:x-hidden x-justify-center x-items-center x-text-center x-flex-col md:x-flex-row x-gap-[64px] md:x-gap-[30px] x-py-[32px] x-pb-[64px] x-px-[24px]">
        <div class="x-flex x-flex-col x-gap-[24px] md:x-gap-[32px]">
            <div class="x-flex x-justify-center x-items-center">
                <div class="x-w-[296px] x-h-[264px] main-rect">
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-[40px] md:x-gap-[48px]">
                <div class="x-flex x-flex-col x-gap-[16px] md:x-gap-[24px]">
                    <div class="x-flex x-flex-col x-gap-[16px] md:x-gap-[24px]">
                        <h1 class="x-font-light x-text-[24px] md:x-text-[36px] x-leading-[32px] md:x-leading-[48px] x-text-[#3D3E49]">Rectangular Tissue Sleeve</h1>
                        <p class="x-font-light x-text-[18px] md:x-text-[20px] x-leading-[24px] md:x-leading-[28px] x-text-[#282828]">Each product is crafted with home and office in mind, utilizing some of the simplest innovations with extreme attention to detail. Follow our design journey and adopt one of our designs for your favorite nooks.</p>
                    </div>
                    <div class="x-flex x-flex-col x-gap-[14px]">
                        <p class="x-font-light md:x-font-normal x-text-[18px] x-leading-[24px] x-text-[#4F4F4F]">Available in all 5 colors.</p>
                        <div class="x-flex x-flex-row x-justify-center x-gap-[16px]">
                            {% render 'a-color-rows-rect' %}
                        </div>
                    </div>
                </div>
                <a class="x-font-medium x-text-[16px] x-leading-[24px] x-tracking-[3%] x-text-white x-bg-[#3D3E49] x-py-[18px] x-rounded-[8px]"  href={{ section.settings.custom_link }}>
                    BUY
                </a>
            </div>
        </div>

        <div class="x-flex x-flex-col x-gap-[24px] md:x-gap-[32px]">
            <div class="x-flex x-justify-center x-items-center">
                <div class="x-w-[296px] x-h-[264px] main-square">
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-[40px] md:x-gap-[48px]">
                <div class="x-flex x-flex-col x-gap-[16px] md:x-gap-[24px]">
                    <div class="x-flex x-flex-col x-gap-[16px] md:x-gap-[24px]">
                        <h1 class="x-font-light x-text-[24px] md:x-text-[36px] x-leading-[32px] md:x-leading-[48px] x-text-[#3D3E49]">Square Tissue Sleeve</h1>
                        <p class="x-font-light x-text-[18px] md:x-text-[20px] x-leading-[24px] md:x-leading-[28px] x-text-[#282828]">Each product is crafted with home and office in mind, utilizing some of the simplest innovations with extreme attention to detail. Follow our design journey and adopt one of our designs for your favorite nooks.</p>
                    </div>
                    <div class="x-flex x-flex-col x-gap-[14px]">
                        <p class="x-font-light md:x-font-normal x-text-[18px] x-leading-[24px] x-text-[#4F4F4F]">Available in all 5 colors.</p>
                        <div class="x-flex x-flex-row x-justify-center x-gap-[16px]">
                            {% render 'a-color-rows-square' %}
                        </div>
                    </div>
                </div>
                <a class="x-font-medium x-text-[16px] x-leading-[24px] x-tracking-[3%] x-text-white x-bg-[#3D3E49] x-py-[18px] x-rounded-[8px]" href={{ section.settings.custom_link }}>
                    BUY
                </a>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Main Products Section",
      "settings": [
        {
          "type": "url",
          "id": "custom_link",
          "label": "Custom Link"
        }
      ],
      "presets": []
    }
    {% endschema %}